<script>
var offset = 60;
$('.navbar li a').click(function(event) {
    event.preventDefault();
    $($(this).attr('href'))[0].scrollIntoView();
    scrollBy(0, -offset);
});
</script>
<div id="services" >
  <div class="heading">
    <h2 >Services</h2 >
    <p >We provide full application development lifecycle services across a full range of technologies</p>
  </div>
{% for service in site.data.services %}
    {% assign mod = forloop.index0 | modulo: 3  %}
    {% if  mod == 0 %}
        <div class="row service">
    {% endif %}
    <div class="col-md-4 col-lg-4 col-sm-12">
    	<!-- <div class="service-image ">
        <img src="{{ service.image | prepend: "/images/" |prepend: site.baseurl }}">
         </div>   -->
         <div class="service-column">
            <h2>{{ service.title}} </h2>
            <div class="service-description">
                {% capture my_include %}{% include {{ service.content}}  %}{% endcapture %}
                {{ my_include | markdownify }}</div>
            </div>
        </div>
    {% if mod == 2 or  forloop.last %}
        </div>
    {% endif %}
{% endfor %}
</div>
