/* Boot Strap Navigation Bar Style */
/* navbar */
.navbar-default {
    background-color: #3FC380;
    border-color: #3FC380;
}
/* title */
.navbar-default .navbar-brand {
    color: #FFF;
    font-family: $primary-font-family, sans-serif;
    letter-spacing:  1px;
    font-size: 20px;
    position: absolute;
    left:  20px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #111;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: $primary-font-family, sans-serif;
    letter-spacing:  1px;
    font-size: 18px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  opacity: 0.6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: $primary-color;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: transparentize($primary-color, 0.1);
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
/* End of Boot Strap Navigation Bar Style */

@media (max-width: $max-width-phone) {
.navbar-default .navbar-brand {
  font-size: 15px;
}

}
